<!DOCTYPE html>
<html lang="en">
	<head>
		 <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="imgs/favicon.ico" type="image/x-icon">
		<link rel="icon" href="imgs/favicon.ico" type="image/x-icon">
		<meta name="description" content="Responsive Twitter Bootstrap Template For Photography Portfolio">
		<meta name="author" content="Maria Antonietta Perna">
		
		<title>Photo Click Blog Listings Page - Bootstrap Photography Portfolio Template</title>
		
		<!-- Bootstrap Core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		
		<!-- FontAwesome -->
		<link href="css/font-awesome.min.css" rel="stylesheet">
		
		 <!-- Custom CSS -->
		<link href="css/theme.css" rel="stylesheet">
	</head>
	<body>
	
		<!-- .preloader -->
		<div class="preloader">
			<img src="imgs/preloader.gif" alt="">
		</div> <!-- /.preloader -->
	
		<div id="site-wrapper">
			
			<nav id="sidebar-wrapper" role="navigation">
				<ul class="sidebar-nav">
					<li class="clearfix">
						<div class="close-icon pull-right">
							<i class="fa fa-times"></i><span class="sr-only">Close</span>
						</div>
					</li>
					<li class="branding">
						<img class="img-responsive sidebar-img" src="imgs/artist-sidebar.jpg" alt="">
						<a title="Artist Name - Back to Home page" href="index.html"><h1>Artist Name</h1><span class="sr-only">Back to Home page</span></a>
						<ul class="list-inline sidebar-social">
							<li><a title="Like me on Facebook" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a title="Follow me on Twitter" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a title="Add me on Google+" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a title="Appreciate my work on Behance" href="#"><i class="fa fa-behance"></i></a></li>
							<li><a title="Visit my photostream on Flickr" href="#"><i class="fa fa-flickr"></i></a></li>
						</ul>
					</li>
					<li><a title="About" href="about.html">About</a></li>
					<li><a title="Work" href="work.html">Work</a></li>
					<li><a title="Blog" class="active" href="blog.html">Blog</a></li>
					<li><a title="Contact" href="contact.html">Contact</a></li>
					<li><a title="Style Guide" href="styleguide.html">Style Guide</a></li>
				</ul> <!-- .sidebar-nav -->
			</nav> <!-- #sidebar-wrapper -->
		
			<!-- #page-content-wrapper -->
			<div id="page-content-wrapper">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 menu-toggle-container">
							<span class="menu-toggle menu-toggle-btn" id="menu-toggle"><i class="fa fa-navicon"></i></span>
							<span class="sr-only">Toggle sidebar view</span>
						</div>
					</div>  <!-- /.row -->
					
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<h2 class="page-header centered-header">Lat<span>e</span>st N<span>e</span>w<span>s</span></h2>
						</div>
					</div> <!-- /.row -->
					
					<div class="row pad-top">
					
						<div class="col-md-8 col-md-offset-2">
						
							<div class="row" id="blog">
							
								<!-- article row 1 -->
								<article class="col-md-12">
									<a href="article.html" title="Article Title">
										<div class="img-container" style="background-image: url('imgs/work3-thumb.jpg');">
											<div class="photo-overlay"></div>
										</div>
										<div class="blog-info">
											<div class="blog-meta">October 10, 2014</div>
											<div class="title-container"><h3>Article Title</h3></div>
										</div>
									</a>
								</article> <!-- /.col-md-12 -->
								<!-- /article row 1 -->
								
								<!-- article row 2 -->
								<article class="col-md-6">
									<a href="article.html" title="Article Title">
										<div class="img-container" style="background-image: url('imgs/work4-thumb.jpg');">
											<div class="photo-overlay"></div>
										</div>
										<div class="blog-info">
											<div class="blog-meta">October 15, 2014</div>
											<div class="title-container"><h3>Article Title</h3></div>
										</div>
									</a>
								</article> <!-- /.col-md-6 -->
								<article class="col-md-6">
									<a href="article.html" title="Article Title">
										<div class="img-container" style="background-image: url('imgs/work10-thumb.jpg');">
											<div class="photo-overlay"></div>
										</div>
										<div class="blog-info">
											<div class="blog-meta">October 18, 2014</div>
											<div class="title-container"><h3>Article Title</h3></div>
										</div>
									</a>
								</article> <!-- /.col-md-6 -->
								<!-- /article row 2 -->
								
								<!-- article row 3 -->
								<article class="col-md-6">
									<a href="article.html" title="Article Title">
										<div class="img-container" style="background-image: url('imgs/work12-thumb.jpg');">
											<div class="photo-overlay"></div>
										</div>
										<div class="blog-info">
											<div class="blog-meta">October 20, 2014</div>
											<div class="title-container"><h3>Article Title</h3></div>
										</div>
									</a>
								</article> <!-- /.col-md-6 -->
								<article class="col-md-6">
									<a href="article.html" title="Article Title">
										<div class="img-container" style="background-image: url('imgs/work13-thumb.jpg');">
											<div class="photo-overlay"></div>
										</div>
										<div class="blog-info">
											<div class="blog-meta">October 22, 2014</div>
											<div class="title-container"><h3>Article Title</h3></div>
										</div>
									</a>
								</article> <!-- /.col-md-6 -->
								<!-- /article row 3 -->
								
							</div> <!-- .row (nested row)-->
							
						</div> <!-- /.col-md-8 -->
					
					</div> <!-- .row -->
				</div> <!-- .container -->
			</div> <!-- /#page-content-wrapper -->
			
		</div> <!-- /#site-wrapper -->
		
		<!-- jQuery Version 1.11.2 -->
		<script src="js/jquery-1.11.2.min.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.min.js"></script>
		<!-- FitText Plugin -->
		<script src="js/jquery.fittext.js"></script>
		<!-- ArcText Plugin -->
		<script src="js/jquery.arctext.js"></script>
		<!-- Blue Imp GAllery Plugin -->
		<script src="js/jquery.blueimp-gallery.min.js"></script>
		<!-- Theme Scripts -->
		<script src="js/app.js"></script>
	</body>
</html>